*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;

}

body{
    background-color: rgb(255, 235, 124);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    text-align: center;
    margin: 10px auto;
    font-size: 2rem;
    background-color: rgb(233, 224, 224);
    padding: 5px;
    border-radius: 10px;
}
form{
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    font-size: 1.5rem;
}
select{
    padding: 8px;
}
input{
    padding: 10px;
    margin: 10px;
}
.hidde{
    display: none;
}

.hour-manual{
        display: flex;
        flex-direction: column;
        align-items: center;
}
button{
    width: max-content;
    align-self: center;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(110, 175, 11);
    color: white;
    font-weight: bold;
}
.delete{
    background-color: rgb(255, 45, 45);
}
.delete:hover{
    background-color: rgb(248, 80, 80);
}
.update{
    background-color: royalblue;
}
.update:hover{
    background-color: rgb(102, 136, 236);
}
button:hover{
    background-color: rgb(152, 241, 19);
    color: black;
}
.registers{
    max-width: 90vw;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

table{
    font-size: 1.5rem;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    text-align: left;    
    word-wrap: break-word;
}

thead{
    width: 513px;
    background-color: blanchedalmond;
    font-weight: bold;
}
thead th, td{
    padding: 10px;
    margin: 10px;
}
thead th:nth-child(1) {
  width: 40%;
}
thead th:nth-child(2) {
  width: 20%;
}
thead th:nth-child(3) {
  width: 10%;
}
thead th:nth-child(4) {
  width: 10%;
}
thead th:nth-child(5) {
  width: 20%;
}

tbody tr:nth-child(odd) {
    background-color: #a8e1f3;
}
  
tbody tr:nth-child(even) {
    background-color: #eceaec;
}
.dateInput{
    display: flex;
}
@media screen and (max-width: 1200px) {   
    table {
      overflow-x: auto;
      display: block;
    }
}
