API_KEY: "AIzaSyBZ99yHUmihRuS69XBgga3O-7LF7RXNbIA"
AUTH_DOMAIN: "lavado-de-manos-300b8.firebaseapp.com"
DATABASE_URL: "https://lavado-de-manos-300b8-default-rtdb.firebaseio.com"
PROJECT_ID: "lavado-de-manos-300b8"
STORAGE_BUCKET: "lavado-de-manos-300b8.appspot.com"
MESSAGING_SENDER_ID: "509736037072"
APP_ID: "1:509736037072:web:a061ec5dfd60d45a790cd5"
